.ratings {
    position: absolute;
    left: 0;
    top: 191px;
    bottom: 0;
    width: 100%;
    overflow: hidden;
}

.ratings .ratings-wrapper {}

.ratings .ratings-wrapper .overview {
    padding: 20px 0 18px 0;
}

.ratings .ratings-wrapper {}