.seller {
    position: absolute;
    left: 0;
    top: 191px;
    bottom: 0;
    width: 100%;
}

.seller .seller-wrapper {}

.seller .seller-wrapper .seller-view {
    padding-left: 15px;
}

.seller .seller-wrapper .seller-view .address-wrapper {
    padding: 16px 0;
    display: flex;
    border-bottom: 1px solid #f4f4f4;
}

.seller .seller-wrapper .seller-view .address-wrapper .address-left {
    flex: 1;
    background: url(address.png) no-repeat left center;
    padding-left: 26px;
    padding-right: 31px;
    background-size: 14px 16px;
    font-size: 14px;
    line-height: 19px;
}

.seller .seller-wrapper .seller-view .address-wrapper .address-right {
    flex: 0 0 60px;
}

.seller .seller-wrapper .seller-view .pic-wrapper {}

.seller .seller-wrapper .seller-view .safety-wrapper {}