.goods {
    display: flex;
    /* 通过该方式确定高度 */
    position: absolute;
    top: 190px;
    bottom: 51px;
    width: 100%;
}


/*
flex: flex-grow | flex-shrink | flex-basis
默认 flex 0 1 auto
flex-grow 必填 | flex-shrink 可选 | flex-basis 可选
flex-grow 默认0 定义放大比例 如果存在剩余空间也不放大 1 放大
flex-shrink 定义缩小比例 默认1 如果空间不足 该项目将会被缩小 flex-shrink 属性为0 时 其他项目为1 则空间不足时 前者不缩小
flex-basis 定义了在分配多余空间之前 项目占据主轴空间 浏览器根据这个属性 计算主轴是否有多余空间
        默认auto 即项目本来大小 设为跟width和height属性值一致 则项目占据固定空间
*/

.goods .menu-wrapper {
    flex: 0 1 85px;
    background: #f4f4f4;
}

.goods .foods-wrapper {
    flex: 1;
    background: blue;
}

.goods .menu-wrapper .menu-item {
    padding: 16px 23px 15px 10px;
    border-bottom: 1px solid #e4e4e4;
}

.goods .menu-wrapper .menu-item .text {
    font-size: 13px;
    color: #333333;
    line-height: 17px;
}

.goods .menu-wrapper .menu-item .icon {
    width: 15px;
    height: 15px;
    vertical-align: middle;
}